
<%include ./partials/header.ejs %>
<link rel="stylesheet" href="/about.css">
<div class ="container">
    <div class="jumbotron ">
        <div class="container">
            <h1 style="font-size: 100px" class="display-4"><i class="fa fa-info-circle" aria-hidden="true"></i> About Us !</h1>
            <div class="lead" style="font-size: 25px ">"This is a feline dating app created using NodeJS and MongoDB"</div>
        </div>
    </div>

<div class="ui internally celled grid">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae ducimus eligendi, error magnam perspiciatis porro quidem. Aliquam aliquid aperiam, consectetur cupiditate maiores pariatur possimus quisquam, ut, veritatis vero voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad magnam nemo. Atque doloribus enim, ex explicabo facere inventore nisi nostrum quae quos ut. Assumenda dolores est fuga necessitatibus ullam?</p>
</div>
    <hr>
    <div class = "ui internally celled grid">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolorum ea et inventore necessitatibus quibusdam sequi voluptas, voluptatibus! Aut corporis dignissimos dolorem dolores illo praesentium, quidem quod suscipit! Eius, molestiae.</p>

</div>
   <hr>
    <div class = "ui internally celled grid">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolorum ea et inventore necessitatibus quibusdam sequi voluptas, voluptatibus! Aut corporis dignissimos dolorem dolores illo praesentium, quidem quod suscipit! Eius, molestiae.</p>

    </div>
</div>

<%include ./partials/footer.ejs %>