<%include ./partials/header.ejs %>
<link rel="stylesheet" href="/new.css">
<div class = "container edit">
    <h2>Add Comment</h2>

    <div class = "col-lg-12">
        <hr>
        <form action="/feed/<%=feed._id%>/comment" method="POST">

            <div class ="form-group">
                <input type="text" class="form-control" name="comment[author]" placeholder="Name" required>
            </div>
            <div class="form-group">
                <label for="comment" id="comment"><h3><strong>Say something about <%= feed.username%> <i class="fa fa-heart" aria-hidden="true"></i> </strong></h3></label>
                <textarea class="form-control" rows="5" id="comment" name="comment[text]" required></textarea>
            </div>



            <button type="submit" class="btn btn-success btn-lg btn-block">Submit!</button>
        </form>
    </div>
</div>
<%include ./partials/footer.ejs %>