<%include ./partials/header.ejs %>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Swoosh! </h1>
        <p class="lead">This is a feline dating app where you can find your loved one's!</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="#" role="button">Let's Roll</a>
        </p>
    </div>
</div>
<%include ./partials/footer.ejs %>
